# Spam Text

In [1]:
import os
import numpy as np
import pandas as pd

# Paths and Variables

In [2]:
dataset_name = 'spam_text'

In [3]:
input_dir = './data'
output_dir = f'./../../processed/{dataset_name}/'
os.makedirs(output_dir, exist_ok=True)
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

In [4]:
inp_fname = 'SPAM text message 20170820 - Data.csv'

# Read data into a DataFrame

In [5]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
id_col = "Id"
target_col = "Category"
text_col = "Message"

# Shuffle Data

In [7]:
# shuffle data
data = data.sample(frac=1, random_state=42)
print(data.shape)
data.head()

(5572, 2)

     Category                                            Message
3245      ham  Squeeeeeze!! This is christmas hug.. If u lik ...
944       ham  And also I've sorta blown him off a couple tim...
1044      ham  Mmm thats better now i got a roast down me! i...
2484      ham      Mm have some kanji dont eat anything heavy ok
812       ham  So there's a ring that comes with the guys cos...

# Insert Id Column

In [8]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

      Id Category                                            Message
3245   0      ham  Squeeeeeze!! This is christmas hug.. If u lik ...
944    1      ham  And also I've sorta blown him off a couple tim...
1044   2      ham  Mmm thats better now i got a roast down me! i...
2484   3      ham      Mm have some kanji dont eat anything heavy ok
812    4      ham  So there's a ring that comes with the guys cos...

# Utility to Save DF as a zipped file

In [9]:
def save_df_to_zipped_csv(df, ftype=None): 
    if ftype is not None: 
        suffix = f'_{ftype}'
    else: 
        suffix = ''
        
    zipped_f_name = f'{dataset_name}{suffix}.zip'
    archive_f_name = f'{dataset_name}{suffix}.csv'   
    compression_opts = dict(method='zip',
                        archive_name=archive_f_name)      
    df.to_csv(os.path.join(output_dir, zipped_f_name), index=False, compression=compression_opts )

# Save Main Data File

In [10]:
# # save original file as csv
# data.to_csv(outp_fname, index=False)

# save as zipped file 
save_df_to_zipped_csv(data)

# Train Test Split

In [11]:
from sklearn.model_selection import train_test_split
test_size = 0.1

data_train, data_test = train_test_split(data, test_size=test_size, random_state=42)


data_test_key = data_test[[id_col, target_col]].copy()
data_test = data_test.drop(columns=[target_col])
print(data_train.shape, data_test.shape, data_test_key.shape)

# # Save original files as csv
# data_train.to_csv(outp_train_fname, index=False)
# data_test.to_csv(outp_test_fname, index=False)
# data_test_key.to_csv(outp_test_key_fname, index=False)

(5014, 3) (558, 2) (558, 2)

In [12]:
# zip files
save_df_to_zipped_csv(data_train, "train")
save_df_to_zipped_csv(data_test, "test")
save_df_to_zipped_csv(data_test_key, "test_key")